.channel-container {
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    // flex-direction: column;
    background-color: #313338;
    color: #f2f3f5;
}

.profile {
    display: flex;
    width: 200px;
    // margin-left: 100px;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2d31;
}


.dms-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    background-color: #2b2d31;
    height: 100vh;
}

.dms-list {
    display: flex;
    flex-direction: column-reverse;
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;    
    text-align: center;
    // margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #b5bac1;
    color: white;
    height: 20px;
    z-index: 10;
    border-bottom: 1px solid;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 500px;    
    text-align: center;
    color: white;
    z-index: 10;
    // margin-right: 300px;
}

.nav-button {
    cursor: pointer;
    // border: solid red;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.navbar li:hover { 
    background-color: rgba(255,255,255, 0.1)
}

.profile > img {
    margin-left: 5px;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.server-container {
    width: 150px;
}