.channel-container {
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    // height: 100%;
    flex-direction: column;
    background-color: #313338;
    color: #f2f3f5;
    // overflow-x: hidden;
    overflow: hidden;
}

.profile {
    display: flex;
    position: absolute;
    bottom: 5px;
    padding-bottom: 5px;
    padding-top: 100px;
    width: 200px;
    margin-left: 100px;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2d31;
}


.dms-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #2b2d31;
    height: 100%;
}

.dms-list {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 500px;    
    margin-left: 350px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #b5bac1;
    color: white;
    height: 20px;
    z-index: 10;
}

.nav-button {
    cursor: pointer;
    border: solid red;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.navbar li:hover { 
    background-color: rgba(255,255,255, 0.1)
}

.profile > img {
    margin-left: 5px;
}