.dm-container {
    max-height: 580px;
    margin-top: 120px;
    // margin-bottom: 5px;
    height: 580px;
    overflow: scroll;
    margin-left: 0;
    position: absolute;
    display: flex;
    // border: solid red;
    // margin-top: aut  
}

.send-container {
    position: absolute;
    left: 10px;
    bottom: 0;
}

.send-message {
    position: absolute;
    // border: solid red;
    width: 1000px;
    padding-top: 15px;  
    padding-left: 15px;
}

.dm-show {
    display: flex;
    position: absolute;
    margin-left: 200px;
    bottom: 75px; 
    height: 100%;   
}

.dm {
    display: flex;
    border-radius: 10px;
    height: 50px;
    width: 250px;
    text-align: center;
    align-items: center;

}

.message-list {
    position: relative;
    margin-top: auto;   
    
}