.dm-container {
    // margin-top: 450px;  
    max-height: 580px;
    margin-top: 120px;
    height: 580px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    // justify-content: flex-end;
    overflow: scroll;
}

.send-container {
    position: absolute;
    // top: 0;
    bottom: 0;
}

.send-message {
    position: absolute;
    // border: solid red;
    width: 1000px;
}