.dm-container {
    max-height: 580px;

    height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    // margin-right: 100px;
    margin-bottom: 10px;
}


.send-container {
    margin-left: 20px;
    width: 100%;
    
}

.send-message {
    position: absolute;
    width: calc(100% - 360px);;
    border-radius: 8px;
    background-color: #3a3a40;
    border: none;
    resize: none;
    height: 35px;
    color:#DBDEE1;
    appearance: none;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dm-show {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-betwee;
}

.first {
    margin-top: auto;
}