.friends-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
    height: 100%;
}

.friend-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-left: 10px;
}

.friend-status {
    font-size: 14px;
    margin-bottom: 20px;
}


.friends {
    margin-top: 10px;
}

.pfp.friends {
    margin: 0;
    margin-top: 3px;
}
.friends-list {
    // margin-left: 1%;
    // margin-top: 10%;
    margin-left: 30px;
    margin-top: 25px;
    width: 100%;
    
}

.friend-item {
    // control friend item width
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.friend-item:hover {
    background-color: rgba(255,255,255, 0.1);
    cursor: pointer;
}

.friends-wrapper {
    // control entire friends box like the dm-show one
    width: 100%;
    display: flex;
    position: absolute;
    // margin-left: 200px; 
    height: 100%;   
}

.message-icon, .cancel-icon, .accept-icon {
    height: 20px;
    width: 20px;
    color: #dbdee1;
}

.message-icon:hover {
    color: #ffffff;
}

.accept-icon:hover {
    color: #22a559;
}

.action-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    background-color: #2b2d31;
    align-items: center;
    justify-content: center;
}

.action-button:hover {
    cursor: pointer;
}

.action-button.cancel:hover {
    cursor: pointer;
    color: #f23f42;
}

.action-button.accept:hover {
    cursor: pointer;
    color: #22a559;
}

// accept and reject buttons
.action-buttons {
    display: flex;
    width: 9%;
    justify-content: space-between;
}

.add-friend-header {
    font-weight: 900;
}

.friends-list.add-friend-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.friends-list.add-friend-list li {
    margin-top: 10px;
    color: #949ba4;
}

.add-friend-search-bar {
    border: none;
    margin-left: 0;
    padding-left: 0;
    width: 50%;
    height: 50px;
    margin-top: 20px;
    background-color: #1e1f22;
    color: #949ba4;
    border-radius: 5px;
    padding: 0;
}

.add-friend-search-button {
    height: 90%;
    padding-left: 10px;
    background-color: none;
    border-radius: 5px;
}

.send-friend-request {
    height: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #5865F2;
    width: 20%;
    filter: brightness(85%);
}

.send-friend-request:hover {
    filter: brightness(80%);
    cursor: pointer !important;
}

.search-bar:hover {
    cursor: none;
}

.add-friend-search-button:hover {
    cursor:text !important;
}

.filled {
    // background-color: ;
    color: white;
    filter: brightness(100%);
}

.success-message {
    color: #22a559 !important;
}