.date-wrapper {
    display: flex;
    justify-content: space-between;
}

.date-container {
    width: 100%;
}

.form-wrapper {
    width: 33%;
}


.header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.date {
    width: 31%;

}